<h1>Lista de filmes</h1>
<% for (let i = 0; i < filmes.length; i++) { %>
  <p>Nome: <%= filmes[i].nome %></p>
  <p>Avaliação: <%= filmes[i].avaliacao %></p>
  <p>Duração: <%= filmes[i].duracao %> Minutos</p>
<% } %>